<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Common.Properties.Settings.libraryConnectionString"
            connectionString="server=localhost;user id=root;password=seregalichenko;persistsecurityinfo=True;database=library"
            providerName="MySql.Data.MySqlClient" />
        <add name="Common.Properties.Settings.libraryDataSet" connectionString="Data Source=(localdb)\ProjectsV12;Initial Catalog=library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Common.Properties.Settings.LibraryConnectionString1"
            connectionString="Data Source=(localdb)\ProjectsV13;Initial Catalog=Library;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Common.Properties.Settings.Library" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Library;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>